html {
  background: grey;
  background-image: url(rainbowBG.jpg);
}

body {
  background: white;
  text-align: center;
  padding: 25px 0px;
  width: 700px;
  margin: 25px auto;
  border-radius: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  width: 500px;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 42px;
  letter-spacing: 2px;
}
.rgb-code {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

input {
  width: 60px;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  color: white;
  text-align: center;
}

#redin {
  background: red;
  color: white;
}

#greenin {
  background: green;
  color: white;
}

#bluein {
  background: blue;
  color: white;
}

#display {
  width: 400px;
  height: 200px;
  background: rgb(255, 255, 0);
  margin: auto;
  border: 3px solid grey;
}

button {
  background: grey;
  color: white;
  border-radius: 15px;
  padding: 5px 15px;
  cursor: pointer;
}

a {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

button:hover {
  color: #7cb58b;
  background: black;
}

#letter {
  letter-spacing: 2px;
}

#last {
  font-family: "New Tegomin", serif;
}
